body {
	background: #fff url(../img/bg.png);
}

#main {
	padding-top: 20px;
	background-color: #fff;
}

#header {
	margin-bottom: 40px;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.stock-list {	
}

.stock-list li, .folder-list li {
	list-style-type: none;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 5px;
	font-weight: bold;
}

.stock-list li {
	width: 100%;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;  
}

.stock-list li:hover, .folder-list li:hover, .folder-list li.active {
	background-color: #ddd;
	cursor: pointer;
}

.folder-list li, .folder-wrap {
	padding: 20px;
	width: 60px;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 20px; 
	float: left;
	text-align: center;
	position: relative;
}

.folder-wrap {
	padding: 0;
	width: 100px;
	height: 90px;
	margin-bottom: 0;
	background-color: #efefef;
	position: relative;
}

.folder-list li:before, .folder-wrap:before {
	content: "_____";
	font-size: 15px;
	line-height: 15px;
	width: 40px;
	height: 15px;
	background-color: inherit;
	position: absolute;
	top: -15px;
	left: 0;
	color: #ddd;
}

.folder-list li:hover:before, .folder-list li.active:before {
	color: #ccc;
}

.close, .unsold, .sold {
	font-size: 18px;
	color: #333;
	float: right;
	cursor: pointer;
	position: relative;
	top: -3px;
}

.close:hover {
	color: #d80c0c;
}

.sold, .unsold {
	margin-right: 10px;
}

.unsold {
	color: #aaa;
}

.unsold:hover {
	color: #55b239;
}

.sold {
	color: #55b239;
}

.sold:hover {
	color: #333;
}
.sold-li {
	opacity: 0.5;
}

input {
	width: 100%;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;  
	padding: 10px;
	border: 1px solid #eee;
	background-color: #efefef;
	text-align: center;
}

#new-item {
	margin: 0;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;  
 	width: 100%;
}

.add-item {
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;      
	text-align: center;
	background-color: #55b239;
	padding: 8px;
	border: 1px solid #55b239;
	color: #fff !important;
	font-size: 30px;
	line-height: 20px;
	display: block;
	margin-bottom: 5px;
}

.add-item:hover, .add-folder:hover {
	background-color: #84d356;
}

.add-folder {
 	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;
 	box-sizing: border-box;      
	text-align: center;
	background-color: #55b239;
	padding: 3px;
	border: 1px solid #55b239;
	color: #fff !important;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0;
}


 .det-list li {
 	border-bottom: 1px solid #ddd;
 	list-style-type: none;
 	padding: 5px;
 }

 .header{
 	text-align: center;
 }


.clear-sold {
	background-color: #efefef;
	padding: 5px;
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
}

.clear-sold:hover {
	background-color: #d80c0c;
	color: #fff;
}

/* emmt
	zen coding
 */